html { height: 100%; }
body {
    min-height:100%;
    position:relative;
    padding-bottom:225px;
}
.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}
nav.nav-center ul li a i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vertical-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}