{{#each files}}
    <div class="col s4">

        <div class="card">
            <div class="card-image">
                <img src="images/{{this}}" data-caption="{{this}}" class="materialboxed">
                <span class="card-title truncate">{{this}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="images/{{this}}" download><i class="material-icons">arrow_downward</i></a>
            </div>
        </div>

    </div>
{{/each}}
