{{#each files}}
    <div class="col s6">

        <div class="card-panel transparent z-depth-0">
            <video class="responsive-video vertical-center" controls>
                <source src="videos/{{this}}" type="video/mp4">
            </video>
        </div>

    </div>
{{/each}}